<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Am I</title>
</head>
<body>
    <h2>Server groups</h2>
    <p>{{ group_names }}</p>
    <h2>Server facts</h2>
    <p>{{ ansible_facts }}</p>
    <h2>Potato and tomato</h2>
    <p>
        {% if 'web1' in group_names %}
            I’m tomato
        {% else %}
            I'm potato
        {% endif %}
    </p>
</body>
</html>